@model IEnumerable<ProyectoFinalCarritoCompra.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/imgs/prod/@item.Imagen" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">@item.Descripcion</p>
                    <div class="text-center">
                        <h5 class="card-title">$ @item.Precio</h5>
                        @{
                            List<int> list = Session["IdProductos"] as List<int>;
                            bool existe = list.Contains(item.Id);


                        }
                        @if (!existe)
                        {
                            <a class="btn btn-outline-dark mt-auto" href="/Home/AddProducto?id=@item.Id">Añadir al Carrito</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-dark mt-auto" href="#">Ir al carrito</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
