@{
    ViewBag.Title = "Compra";
}


<div class="px-4 pt-5 mt-5 text-center">
    <img src="~/Content/imgs/Check.gif" />
    <h1 class="display-4 fw-bold text-body-emphasis">Gracias por tu compra</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Cada pedido cerrado es más una señal de que estamos en el camino bueno. Muchas gracias por su compra.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="@Url.Action("Index", "Home")" role="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3">Volver a la tienda</a>
        </div>
        <img src="~/Content/imgs/Tarjeta.png" alt="Example image" loading="lazy">
    </div>
</div>