<div class="col-2 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        
        <h4 class="mt-4">Mantenedores</h4>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="@Url.Action("Mantenedores", "Home")" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Producto")" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Productos</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Categoria")" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Categorias</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Marca")" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Marcas</span>
                </a>
            </li>
        </ul>

    </div>
</div>
